---
import { ArrowLeft } from "lucide-solid";

import styles from "./BackLink.module.scss";

interface Props {
  to?: string;
  title?: string;
}

const { to = "/", title = "Home" }: Props = Astro.props;
---

<a href={to} class={styles.backLink}>
  <ArrowLeft />
  <span>{title}</span>
</a>
