.mainContainer {
  padding: 0.5rem 1rem;
  max-width: 800px;
  margin-inline: auto;
}

h1 {
  margin-block: 0.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.history {
  margin-block: 0.5rem;
}

.historyItem {
  display: flex;
  column-gap: 0.75rem;
}

.date {
  width: 4rem;
  text-align: end;

  span {
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--sub-color);
  }
}

.border {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    inset-inline-start: 0.875rem;
    top: 1.75rem;
    width: 1px;
    transform: translateX(-0.5px);
    background-color: var(--sub-hover-color);
  }

  > div {
    position: relative;
    z-index: 10;
    display: flex;
    width: 1.75rem;
    height: 1.75rem;
    align-items: center;
    justify-content: center;

    > div {
      width: 0.5rem;
      height: 0.5rem;
      background-color: var(--sub-hover-color);
      border-radius: 9999px;
    }
  }
}

.historyItem:last-child {
  .border::after {
    visibility: hidden;
  }
}

.meta {
  flex: 1;
  padding-bottom: 1.5rem;
  padding-top: 0.125rem;
}

.category {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--sub-color);
}

.title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;

  &.future {
    color: var(--sub-hover-color);
  }
}

.description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--sub-color);
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5rem;

  a {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-decoration-line: underline;
    color: var(--sub-color);
    &:hover {
      color: var(--sub-hover-color);
    }
  }
}
