.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 2rem;
  margin-inline: 1rem;
  align-items: center;
}

.icon {
  width: min(5rem, 25%);
  aspect-ratio: 1 / 1;

  img {
    height: auto;
    border-radius: 9999px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.name {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0 0.5rem;
  height: 1.5rem;
  flex-wrap: wrap;
  flex: 1;

  a {
    color: var(--sub-color);
    text-decoration-line: underline;
    &:hover {
      color: var(--sub-hover-color);
    }
  }
}
