@use "../../styles/global.scss" as *;

.postsGrid {
  @include gridColumns(16rem);
}

.card {
  overflow: hidden;
  transition: box-shadow 0.2s;
  background-color: $white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);

  &:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.postImageLink {
  display: block;
}

.postImage {
  width: 100%;
  aspect-ratio: 1200 / 630;
  object-fit: cover;
}

.cardContent {
  padding: 0.75rem 1rem;
}

.postMeta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.postType {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  line-height: 1;

  &[data-type="Blog"] {
    background-color: rgba(102, 73, 245, 0.1);
    color: #5c5fb2;
    border: 1px solid rgba(102, 73, 245, 0.2);
  }
  &[data-type="Zenn"] {
    background-color: rgba(62, 168, 255, 0.1);
    color: #206fc2;
    border: 1px solid rgba(62, 168, 255, 0.2);
  }
}

.postDate {
  font-size: 0.875rem;
  color: $text-tertiary;
}

.postTitle {
  font-size: 1rem;
  color: $text-primary;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: color 0.2s;

  &:hover {
    color: $accent-color;
  }
}
