@use "./global.scss" as *;

.container {
  @include container;
}

.postsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.postsTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: $text-primary;
}

.rssLink {
  @include iconButton;
}
