---
import { METADATA } from "@/const";
import Layout from "@/layouts/Layout.astro";
import styles from "@/styles/404.module.scss";
---

<Layout title={METADATA.title}>
  <div class={styles.container}>
    <h1>
      <b>404</b> - Page Not Found
    </h1>
  </div>
</Layout>
