article {
  padding-inline: 2rem;

  @media (max-width: 528px) {
    padding-bottom: 3rem;
  }

  div.articleMeta {
    margin-block: 1rem 0.5rem;

    h1.articleTitle {
      margin-bottom: 0;
      border-bottom-width: 0;
      font-size: 1.875rem;
      line-height: 2.25rem;
      font-weight: 700;
    }

    .articleSlug,
    .articleDate {
      color: var(--sub-color);
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    div.articleTags {
      margin-top: 0.25rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem 0.5rem;

      span {
        background-color: var(--main-bg-hover-color-1);
        color: var(--sub-color);
        border-radius: 0.25rem;
        padding: 0.125rem 0.375rem;
        font-size: 0.75rem;
        line-height: 1rem;
      }
    }
  }

  div.articleMain {
    display: block;
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row-reverse;
      gap: 1rem;
    }

    .tocToggle {
      display: none;
    }

    nav.toc {
      width: min(18rem, 100%);

      h2 {
        margin: 0;
        margin: 1rem 0 0.5rem 0;
        border-bottom-width: 0;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 2rem;
      }

      @media (min-width: 1024px) {
        div {
          position: sticky;
          top: 5rem;
          margin-top: 0px;
          width: 16rem;
        }
      }

      @media (max-width: 1023px) and (min-width: 529px) {
        border: 1px solid gray;
        margin: 0.5rem;
        margin-top: 1rem;
        div {
          margin: 1rem;
        }
      }

      ul {
        margin: 0;
        list-style-type: none;
        padding: 0 1rem;
        font-size: 1rem;
        line-height: 1.375rem;

        li {
          a {
            text-decoration: none;
            transition: color 0.3s, border-bottom 0.3s;
            border-bottom: 1px solid transparent;

            &:hover {
              color: var(--link-hover-color);
              border-bottom: 1px solid var(--link-hover-color);
            }

            &:focus {
              outline: none;
              color: var(--main-color);
              border-bottom: 1px solid var(--main-color);
            }
          }
        }

        li.heading2 {
          margin-block: 0.5rem;
        }
        li.heading3 {
          margin: 0.25rem 0 0.25rem 1rem;
        }
      }
    }

    @media (max-width: 528px) {
      nav.toc {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: var(--header-hover-color-fill);
        z-index: 20;

        ul {
          display: block;
          max-height: 0;
          transition: max-height 0.5s ease, padding 0.5s ease;
          margin: 0;
          padding-inline: 1rem;
          background: var(--header-color-fill);
        }
        h2 {
          margin: 0;
          padding: 0.5rem 1rem;
          font-size: 1.1rem;
          label {
            width: 100%;
            height: 100%;
            display: block;
            padding-left: 25px;
            cursor: pointer;
          }
          label::before {
            content: "";
            width: 10px;
            height: 10px;
            border-top: solid 2px var(--main-color);
            border-right: solid 2px var(--main-color);
            position: absolute;
            top: 22px;
            left: 18px;
            transform: rotate(-45deg);
            transition: transform 0.5s ease, top 0.5s ease;
          }
        }
      }
      .tocToggle:checked ~ nav.toc {
        max-height: 18rem;
        ul {
          max-height: 14rem;
          padding-block: 0.5rem;
          overflow: auto;
        }
        h2 {
          padding: 0.5rem 1rem;
          label::before {
            content: "";
            top: 16px;
            transform: rotate(135deg);
          }
        }
      }
    }

    div.articleContent {
      flex: 1 1 0%;
      overflow: hidden;

      > div {
        margin-bottom: 16px;
      }

      h1 {
        padding-bottom: 4px;
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: bold;
        border-bottom: solid 1px gray;
      }

      h2 {
        padding-bottom: 4px;
        margin: 16px 0;
        font-size: 21px;
        font-weight: bold;
        border-bottom: solid 1px gray;
      }

      h3 {
        margin: 16px 0;
        font-size: 18px;
        font-weight: bold;
      }

      p {
        margin: 6px 0;
      }

      a:not(:global(.rlc-container)) {
        color: var(--link-color);
        text-decoration: none;
        transition: color 0.3s, border-bottom 0.3s;
        border-bottom: 1px solid transparent;

        &:hover {
          color: var(--link-hover-color);
          border-bottom: 1px solid var(--link-hover-color);
        }

        &:focus {
          outline: none;
          color: var(--main-color);
          border-bottom: 1px solid var(--main-color);
        }
      }

      table {
        display: block;
        max-width: 100%;
        overflow: auto;
        margin: 1em 0 1em 1em;
        overflow-x: auto;
        overflow-y: hidden;

        tr,
        th,
        td {
          border: 1px solid gray;
          padding: 6px 12px;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style-position: inside;
        list-style: disc;
        margin: 1em 0 1em 2em;

        ul,
        ol {
          margin: 0 0 0 2em;
        }
      }

      ul.contains-task-list {
        list-style: none;
        margin-left: 1em;
      }

      ol {
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style-position: inside;
        list-style: decimal;
        margin: 1em 0 1em 2em;

        ul,
        ol {
          margin: 0 0 0 2em;
        }
      }

      blockquote {
        margin: 8px 0;
        padding: 8px;
        border-left: 4px solid var(--link-color);
        background-color: var(--header-color);
      }

      summary {
        margin-bottom: 0.5rem;
        cursor: pointer;
      }

      code:not(pre > code) {
        background-color: var(--main-bg-hover-color-1);
        padding: 2px 4px;
        border-radius: 4px;
      }

      :global(span.katex-display) {
        overflow-x: auto;
        overflow-y: hidden;
      }

      :global(.rlc-container) {
        width: 100%;
        max-width: 800px;
        max-height: 120px;
        margin: 1rem auto 1rem 0;

        color: var(--main-color);
        text-decoration: none;

        border: 1px solid var(--main-bg-hover-color-1);
        border-radius: 0.25rem;
        display: flex;
        align-items: stretch;

        transition: opacity 0.1s linear;

        &:hover {
          opacity: 0.5;
        }
      }

      :global(.rlc-info) {
        overflow: hidden;
        padding: 0.5rem;
        flex: 4 1 100px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      :global(.rlc-title) {
        font-size: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      :global(.rlc-description) {
        font-size: 0.875rem;
        color: var(--main-color);
        overflow: hidden;
        line-height: 1rem;
        height: 2rem;
      }

      :global(.rlc-url-container) {
        display: flex;
        align-items: center;
      }

      :global(.rlc-favicon) {
        margin-left: 0;
        margin-right: 4px;
        width: 16px;
        height: 16px;
      }

      :global(.rlc-url) {
        font-size: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      :global(.rlc-image-container) {
        position: relative;
        flex: 1 1 100px;
      }

      :global(.rlc-image) {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }

      svg,
      img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  div.profileContainer {
    padding-top: 1.5rem;
  }
}
