.mainContainer {
  padding: 0.5rem 1rem;
  max-width: 800px;
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-block: 0.5rem;

  h1 {
    flex: 1;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }

  a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
  }
}

.articles {
  margin-block: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;

  article {
    .meta {
      display: flex;
      flex-direction: column;

      a {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
      }
    }
  }
}

.metaHeader {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: var(--sub-hover-color);
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 0.5rem;
  margin-top: 0.25rem;

  span {
    background-color: var(--main-bg-hover-color-1);
    color: var(--sub-color);
    border-radius: 0.25rem;
    padding: 0.125rem 0.375rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
