header {
  background: var(--header-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 10;
  height: 4rem;
  a {
    color: inherit;
  }
}

div.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 72rem;
  align-items: center;
  padding-inline: 2rem;
  font-weight: 700;
}

div.title {
  flex-grow: 1;

  a {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

div.menu {
  display: flex;
  font-size: 1.125rem;
  line-height: 1.75rem;
  gap: 1.5rem;
}
