---

---

<header>
  <div class="headerContainer">
    <div class="grow">
      <div>
        <a class="text-2xl" href="/">かしわうどん</a>
      </div>
    </div>
    <div class="flex gap-6 text-lg">
      <div>
        <a href="/blog">Blog</a>
      </div>
      <div>
        <a href="/memo">Memo</a>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    @apply sticky top-0 z-10 h-16;
    background: rgba(36, 40, 49, 0.5);
    backdrop-filter: blur(12px);

    div.headerContainer {
      @apply mx-auto flex h-full w-full max-w-6xl items-center px-8 font-bold;
    }
  }
</style>
