---
import { ViewTransitions } from "astro:transitions";

import { SITE_NAME } from "@/const";
---

<header>
  <div class="headerContainer">
    <div class="grow">
      <div>
        <a class="text-2xl" href="/">{SITE_NAME}</a>
      </div>
    </div>
    <div class="flex gap-6 text-lg">
      <div>
        <a href="/blog/">Blog</a>
      </div>
      <div>
        <a href="/memo/">Memo</a>
      </div>
    </div>
  </div>
</header>

<ViewTransitions />

<style>
  header {
    @apply sticky top-0 z-10 h-16;
    background: rgba(32, 30, 41, 0.7);
    backdrop-filter: blur(10px);

    div.headerContainer {
      @apply mx-auto flex h-full w-full max-w-6xl items-center px-8 font-bold;
    }
  }
</style>
