---

---

<div class="flex flex-row gap-4 my-6">
  <div class="size-20">
    <img
      class="h-auto rounded-full"
      src="https://avatars.githubusercontent.com/u/46104508"
      alt="icon"
    />
  </div>
  <div class="flex flex-col">
    <div class="font-semibold mb-2">kq5y</div>
    <div class="text-neutral-400 flex flex-row gap-2">
      <span>
        <a href="https://t3x.jp" target="_blank" rel="noopener noreferrer"
          >Portfolio
        </a>
      </span>
      <span>
        <a
          href="https://github.com/kq5y"
          target="_blank"
          rel="noopener noreferrer"
          >Github
        </a>
      </span>
      <span>
        <a href="https://x.com/_kq5y" target="_blank" rel="noopener noreferrer"
          >Twitter
        </a>
      </span>
    </div>
  </div>
</div>
