.mainContainer {
  padding: 0.5rem 1rem;
  max-width: 800px;
  margin-inline: auto;
}

h1 {
  margin-block: 0.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.works {
  margin-block: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem 0.3rem;

  span {
    background-color: rgb(38 38 38 / 1);
    color: rgb(163 163 163 / 1);
    border-radius: 0.25rem;
    padding: 0.125rem 0.375rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.description {
  color: rgb(171, 171, 171);
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 0.5rem;

  a {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(145, 145, 145);
    text-decoration-line: underline;
  }
}
