:root {
  --main-color: #edeaf6;
  --main-hover-color: #cbc8d4;
  --sub-color: #919191;
  --sub-hover-color: #6e6e6e;
  --main-bg-color-0: #13161b;
  --main-bg-color-1: #131217;
  --main-bg-hover-color-1: #222029;
  --link-color: #aebdf3;
  --link-hover-color: #6c81cd;
  --scroll-color: #38344e;
  --scroll-hover-color: #595665;
  --header-color-rgb: 33, 36, 56;
  --header-hover-color-rgb: 25, 27, 43;
}
*,
:before,
:after {
  box-sizing: border-box;
  border: 0 solid var(--main-color);
}
html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background: var(--main-bg-color-1);
  color: var(--main-color);
  scroll-padding-top: 4rem;
  margin: 0;
  padding: 0;
  height: 100dvh;
}
body {
  background: linear-gradient(
    to bottom right,
    var(--main-bg-color-0),
    var(--main-bg-color-1)
  );
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  line-height: inherit;
  margin: 0;
}
main {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
}
a {
  color: inherit;
  text-decoration: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}
table {
  border-collapse: collapse;
}
::-webkit-scrollbar {
  inline-size: 8px;
  block-size: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-bg-color-1);
  border-radius: 8px;
}
::-webkit-scrollbar-track:hover {
  background-color: var(--main-bg-hover-color-1);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 8px;
  border: 2px solid var(--main-bg-hover-color-1);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover-color);
}
