---
import { ClientRouter } from "astro:transitions";

import Footer from "@/components/Footer/Footer.astro";
import { METADATA } from "@/const";

import "@/styles/style.scss";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={METADATA.description} />
    <link rel="icon" href="/favicon.ico" />
    {/* ogp, katex */}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      fetchpriority="high"
      href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500;700&display=swap"
      media="print"
      onload="this.media='all'"
    />
    {
      import.meta.env.PROD && import.meta.env.CF_BEACON_TOKEN && (
        <script
          type="text/partytown"
          defer
          src="https://static.cloudflareinsights.com/beacon.min.js"
          data-cf-beacon={`{"token": "${import.meta.env.CF_BEACON_TOKEN}"}`}
        />
      )
    }
    <ClientRouter />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
