---
import { Header } from "@/components/Header";
import { SITE_DESCRIPTION } from "@/const";

import "@/global.scss";

interface Props {
  title: string;
  katex?: boolean;
}

const { title, katex = false } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap"
      media="print"
      onload="this.media='all'"
    />
    {
      katex && (
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css"
          integrity="sha512-fHwaWebuwA7NSF5Qg/af4UeDx9XqUpYpOGgubo3yWu+b2IQR4UeQwbb42Ti7gVAjNtVoI/I9TEoYeu9omwcC6g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
          media="print"
          onload="this.media='all'"
        />
      )
    }
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    {
      import.meta.env.PROD && import.meta.env.CF_BEACON_TOKEN && (
        <script
          type="text/partytown"
          defer
          src="https://static.cloudflareinsights.com/beacon.min.js"
          data-cf-beacon={`{"token": "${import.meta.env.CF_BEACON_TOKEN}"}`}
        />
      )
    }
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
