---
import Header from "@/components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="かしわもち" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-display: swap;
    font-family: "M PLUS Rounded 1c";
    font-style: normal;
    font-weight: 400;
    src: url("/font/font500.woff2") format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "M PLUS Rounded 1c";
    font-style: normal;
    font-weight: 700;
    src: url("/font/font700.woff2") format("woff2");
  }
  :root {
  }
  html {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background: #010721;
    color: #edeaf6;
    scroll-padding-top: 4rem;
    height: 100%;
  }
  body {
    background: linear-gradient(to bottom right, #230113, #010721);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
  }
  main {
    @apply mx-auto max-w-6xl;
  }
  ::-webkit-scrollbar {
    inline-size: 8px;
    block-size: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: #140b2f;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track:hover {
    background-color: #1e133c;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #7a4d7c;
    border-radius: 8px;
    border: 2px solid #130f2f;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #9e66a7;
  }
</style>
